@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
    <div class="header">
        <div class="jumbotron text-center">
            <div class="container">
                <h1 class="heading-primary-main">This is my Home Page</h1>
                <p class="lead heading-primary-sub">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>                
            </div>
        </div>
    </div>
</main>