@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
    <header class="header">
        <div class="header-text-box">
            <h1 class="heading-primary">
                This is my Home Page
            </h1>
        </div>
    </header>
</main>