<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
    <div class="row">
        <div class="col-12">
            <h4 style="text-align: center">Long Term Positions</h4>
            <table class="table table-striped table-sm table-bordered">
                <thead>
                <tr>
                    <th>Stock</th>
                    <th>Trade Date</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Expiration month</th>
                    <th>Strike</th>
                    <th>Strike/Price diff</th>
                    <th>Premium</th>
                    <th>Contracts</th>
                    <th>Commiss</th>
                    <th>Margin</th>
                    <th>Prem/Margin</th>
                    <th>Premium - Commis</th>
                    <th>Needed in reserve</th>
                    <th>Loss/Premium</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>