<div class="col-12">
    <div class="row">  
        <div class="col-6">
            <h4 style="text-align: center">Money Management</h4>
            <table class="table table-sm ">
                <thead>
                <tr>
                    <th scope="col">Account value</th>
                    <th scope="col">To buy all</th>
                    <th scope="col">Amount of AV if all are bought</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                </tbody>
            </table>
        </div>     
        <div class="col-6">
            <h4 style="text-align: center">Estaminate Return</h4>
            <table class="table table-sm ">
                <thead>
                <tr>
                    <th scope="col">Account value</th>
                    <th scope="col">Premium</th>
                    <th scope="col">%</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-12">
    <h4 style="text-align: center">Exercised short stocks</h4>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>Trade Date</th>
            <th>Stock</th>
            <th>Strike Price</th>
            <th>Contracts</th>
            <th>Buy Qty</th>
            <th>Current Price</th>
            <th>P/L</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>   
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>        
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>
        </tbody>
    </table>
</div>    
         
<div class="col-12">
    <h4 style="text-align: center">Actually Option Positions</h4>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>Trade Date</th>
            <th>Type</th>
            <th>Stock</th>
            <th>Open Price</th>
            <th>Price</th>
            <th>Expiration days</th>
            <th>Strike</th>
            <th>Premium</th>
            <th>Contracts</th>
            <th>Commiss</th>
            <th>Margin</th>
            <th>Margin</th>
            <th>Premium - Commis</th>
            <th>Loss if Current price is below Strike</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>   
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>        
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>
        </tbody>
    </table>
</div>        

<div class="col-12">
    <h4 style="text-align: center">Expired/Sell Positions</h4>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>Trade Date</th>
            <th>Type</th>
            <th>Stock</th>
            <th>Open Price</th>
            <th>Closed Price</th>
            <th>Expiration days</th>
            <th>Strike</th>
            <th>Open Premium</th>
            <th>Contracts</th>
            <th>Commiss</th>
            <th>Margin</th>
            <th>Premium-Commis</th>
            <th>Needed Reserves</th>
            <th>Closed Premium</th>
            <th>Premium after commis</th>
            <th>Closed Trade</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>   
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>        
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>
        </tbody>
    </table>
</div>