/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: .875rem;
}

main {
    padding-top: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 45px 0 0;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover {
    color: #007bff;
}

/*Header*/

/*
.header{
    width: 30rem;
}

.header-text-box{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.heading-primary-main {
    display: block;
    animation-name: moveToDown;
    animation-duration: 1s;
}

.heading-primary-sub {
    display: block;
    font-size: 1rem;   
    animation-name: moveToUp;
    animation-duration: 1s;
}
*/

.jumbotron .container{
    max-width: 30rem;
}

.heading-primary-main{
    animation-name: moveToDown;
    animation-duration: .8s;
}

.heading-primary-sub{
    animation-name: moveToUp;
    animation-duration: .8s;
    font-weight: 400;
}

@keyframes moveToDown {
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToUp {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/*DataTable*/

.dataTables_filter {
    float: right !important;
}
